{% extends 'index.html' %} 
{% block title %} Preguntas 
{% endblock title %} 
{%block body %}
<form method="POST">
  {% csrf_token %}
  <div class="card">
    <div class="card-header">
      Preguntas
    </div>
    <div class="card-body">
      <h5 class="card-title"> 1. 
        {% for pregunta in pre1 %}
        {{ pregunta.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr>
          <th><label for="id_opcion">Opcion:</label></th>
          <td>
            <select name="opcion" required id="id_opcion">
              <option value="">---------</option>
              <option value="Poco Saludable">Poco Saludable</option>
              <option value="Regular Saludable">Regular Saludable</option>
              <option value="Saludable">Saludable</option>
              <option value="Muy Saludable" selected>Muy Saludable</option>
              <option value="Excelente Saludable">Excelente Saludable</option>
            </select>
          </td>
        </tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 2. 
        {% for pregunta2 in pre2 %}
        {{ pregunta2.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta2"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr><th><label for="id_opcion2">Opcion:</label></th><td>
        <select name="opcion2" required id="id_opcion2">
          <option value="">---------</option>
          <option value="SI">SI</option>
          <option value="NO" selected>NO</option>
        </select></td></tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 3. 
        {% for pregunta3 in pre3 %}
        {{ pregunta3.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta3"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr><th><label for="id_opcion3">Opcion:</label></th><td>
        <select name="opcion3" required id="id_opcion3">
          <option value="">---------</option>
          <option value="Presión alterial Alta">Presión alterial Alta</option>
          <option value="Diabetes">Diabetes</option>
          <option value="Hemofilia">Hemofilia</option>
          <option value="Otro">Otro</option>
          <option value="Ninguna" selected>Ninguna</option>
        </select></td></tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 4.
        {% for pregunta4 in pre4 %}
        {{ pregunta4.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta4"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr><th><label for="id_opcion4">Opcion:</label></th><td></td>
        <select name="opcion4" required id="id_opcion4">
              <option value="">---------</option>
              <option value="Si, a ambos">Si, a ambos</option>
              <option value="Solo a las Drogas">Solo a las Drogas</option>
              <option value="Solo al alcohol">Solo al alcohol</option>
              <option value="Ninguna" selected>Ninguna</option>
        </select></td></tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 5.
        {% for pregunta5 in pre5 %}
        {{ pregunta5.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta5"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr>
          <th><label for="id_opcion5">Opcion:</label></th>
          <td>
            <select name="opcion5" required id="id_opcion5">
              <option value="">---------</option>
              <option value="Una vez cada 3 meses">Una vez cada 3 meses</option>
              <option value="Una vez cada 6 meses">Una vez cada 6 meses</option>
              <option value="Una vez cada al año">Una vez cada al año</option>
              <option value="Solo cuando es necesario">Solo cuando es necesario</option>
              <option value="Nunca lo hago" selected>Nunca lo hago</option>
            </select>
          </td>
        </tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 6.
        {% for pregunta6 in pre6 %}
        {{ pregunta6.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta6"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr>
          <th><label for="id_opcion6">Opcion:</label></th>
          <td>
            <select name="opcion6" required id="id_opcion6">
              <option value="">---------</option>
              <option value="Excelente">Excelente</option>
              <option value="Muy Bien">Muy Bien</option>
              <option value="Promedio" selected>Promedio</option>
              <option value="Mal">Mal</option>
              <option value="Muy mal">Muy mal</option>
            </select>
          </td>
        </tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 7.
        {% for pregunta7 in pre7 %}
        {{ pregunta7.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta7"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr>
          <th><label for="id_opcion7">Opcion:</label></th>
          <td>
            <select name="opcion7" required id="id_opcion7">
              <option value="">---------</option>
              <option value="Excelente Capacidad">Excelente Capacidad</option>
              <option value="Buena Capacidad">Buena Capacidad</option>
              <option value="Capacidad Moderada" selected>Capacidad Moderada</option>
              <option value="Deterioro Grave Capacidad">Deterioro Grave Capacidad</option>
              <option value="Deterioro total de la Capacidad">Deterioro total de la Capacidad</option>
            </select>
          </td>
        </tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 8.
        {% for pregunta8 in pre8 %}
        {{ pregunta8.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta8"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr>
          <th><label for="id_opcion8">Opcion:</label></th>
          <td>
            <select name="opcion8" required id="id_opcion8">
              <option value="">---------</option>
              <option value="Sin ayuda" selected> Sin ayuda</option>
              <option value="Con algo de ayuda'">Con algo de ayuda'</option>
              <option value="Completamente con ayuda">Completamente con ayuda</option>
            </select>
          </td>
        </tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 9.
        {% for pregunta9 in pre9 %}
        {{ pregunta9.texto }}
        {% endfor %}
      </h5>
      <p class="card-text">
        <input
          type="number"
          name="encuesta9"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr>
          <th><label for="id_opcion9">Opcion:</label></th>
          <td>
            <select name="opcion9" required id="id_opcion9">
              <option value="">---------</option>
              <option value="Completamente desacuerdo">Completamente desacuerdo</option>
              <option value="Algo en desacuerdo">Algo en desacuerdo</option>
              <option value="Neutral" selected>Neutral</option>
              <option value="Un poco acuerdo">Un poco acuerdo</option>
              <option value="Completamente acuerdo">Completamente acuerdo</option>
            </select>
          </td>
        </tr>
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title"> 10.
        {% for pregunta10 in pre10 %}
        {{ pregunta10.texto }}
        {% endfor %}
      </h5>e
      <p class="card-text">
        <input
          type="number"
          name="encuesta10"
          style="visibility:hidden"
          value="{{ usuario }}"
        />
        <tr><th><label for="id_opcion10">Opcion:</label></th><td>
        <select name="opcion10" required id="id_opcion10">
          <option value="">---------</option>
          <option value="SI">SI</option>
          <option value="NO" selected>NO</option>
        </select></td></tr>
      </p>
    </div>
    <div class="card-body">
        <button type="submit">Enviar</button>
    </div>
  </div>


</form>

{% endblock body %}
