{% extends 'index.html' %}

{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Poco Saludable',     {{res1_op1}}],
          ['Regular Saludable',      {{res1_op2}}],
          ['Saludable',  {{res1_op3}}],
          ['Muy Saludable', {{res1_op4}}],
          ['Excelente Saludable',    {{res1_op5}}]
        ]);

        var options = {
          title: '1. ¿{{ pre1 }}',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
{% endblock head %}

{% block body%}
    <div class="card-body">
        <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    </div>

{% endblock body %}
