{% extends 'index.html' %}

{% block title %}
    Creación Persona
{% endblock title %}

{% block body %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        <form method="POST">
        {% csrf_token %}
            {{ datos_form.as_p }}
            <button type="submit"> Enviar </button>
        </form>
    {% endif %}
    
{% endblock body %}
