{% extends 'index.html' %}

{% block title %}
    Listado Usuarios
{% endblock title %}

{% block body %}
    <a href="{% url 'personas:crearpersona' %}">Crear Usuario</a>
    {%  if persona %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Edad</th>
                    <th>DPI</th>
                    <th>Sexo</th>
                    <th>Nacionalidad</th>
                    <th>Estado Civil</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for personas in persona %}
                    <tr>
                        <td>{{ personas.id }}</td>
                        <td>{{ personas.nombres }}</td>
                        <td>{{ personas.apellidos }}</td>
                        <td>{{ personas.edad }}</td>
                        <td>{{ personas.dpi }}</td>
                        <td>{{ personas.sexo }}</td>
                        <td>{{ personas.nacionalidad }}</td>
                        <td>{{ personas.ecivil }}</td>
                        <td><a href="{% url 'personas:editarpersona' personas.id %}">Editar</a></td>
                        <td><a href="{% url 'personas:disablepersona' personas.id %}">Eliminar</a></td>
                        <td><a href="{% url 'opciones:listarpreguntas' personas.id %}">Responder Encuesta</a></td>
                        <td><a href="{% url 'opciones:respuestas'  %}">Ver Respuesta</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {%  else %}
        <h1> No hay personas registradas </h1>

    {%  endif %}
{% endblock body %}